.container {
  display: flex;
  gap: 30px;
  margin-right: 85px;
}
.container a {
  font-family: Inter;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: #e4e5ea;
  transition: all 0.5s ease;
}

.container a:hover {
  color: #97989b;
}

@media screen and (max-width: 1000px) {
  .container {
    margin: 0;
    gap: 10px;
  }
}


@media screen and (max-width: 500px) {
  .container a {
    font-size: 12px;
  }
  .container a:last-of-type {
    display: none;
  }
}
