.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 61px 0 0;
}

.contactsContainer {
  display: flex;
  gap: 47px;
}
.iconsContainer {
  display: flex;
  gap: 30px;
}

@media screen and (max-width: 1100px) {
  .contactsContainer {
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
  }
}

@media screen and (max-width: 800px) {
  .contactsContainer {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .container {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .container {
    margin: 20px 0;
  }
}
